.contenedor{
  background-color: rgba(156, 152, 179, 0.222);
  padding: 1rem 8rem;

  
}

.top-nav{
  top: 1rem;
}
.pt-main{
  padding-top: 7rem;
}
.bg-main {
  background-image: url('https://assets-global.website-files.com/60d263de8eda3578586aa8e8/60db77a5da938326774e89a5_hero-background-business.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.texto h1{
  font-size: 3rem;
  color: #262626e5;
  width: 90%;
 
}
.fs-xs {
  font-size: 0.875rem;
}
.text h3{
  font-size: 1.6rem;
  color:rgba(63, 62, 62, 0.832) ;
}
.text p{
  font-size: 1rem ;
  color:rgba(63, 62, 62, 0.832)
  
}

/*.flex{
  display: flex;
  align-items: center;
}*/
.navbar-brand img{
  width: 10rem;
}
/*.navbar{
  border-radius: 1rem;
  background-color: #fff;
  padding: .5rem .2rem .5rem 2rem;
  font-size: 1rem;
  margin-bottom: 5rem;
  
}*/
.inicio{
  color: #23d413;
  border: solid 1px #23d413;
  border-radius: .5rem;
  margin-right: 1rem;
}
.inicio:hover{
  border: solid 1px #056b2b;
  color:  #056b2b ;
}
.descargar, .enviar{
  background-color: #19a70cb3;
  color: #fff;
}
.descargar:hover{
  background-color: #056b2b;
  color: #fff;
}
.enviar button:hover{
  background-color: #19a70cb3;
  color: #fff;
}


form{
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 2rem;
  color: rgb(63, 62, 62);
  font-size: 1.1rem;
  box-shadow: 1rem 1rem 1rem rgba(128, 128, 128, 0.132);
}
label{
  font-size: .9rem;
  /* font-weight: 700; */
}
.form-control, .form-select{
  background-color: rgb(169, 166, 166);
  padding: 1rem .8rem;
  opacity: .5;
  border-radius: 1rem;
}

.parrafo{
  background-color: #fff;
  width: 82rem;
  margin: 0;
  padding: 0;
}

